APP_ENV=local
PORT=8000
APP_URL=http://localhost:8000
ALLOWED_ORIGINS=*

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=catavor
DB_SSLMODE=disable

JWT_SECRET=catavor_super_secret_jwt_key_2026_enterprise_saas

STORAGE_DIR=../public/storage
DESKTOP_DIST_DIR=../public/desktop
MOBILE_DIST_DIR=../public/mobile

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
